<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/proyecto_pd/assets/css/login.css">
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <video muted autoplay loop>
        <source src="/proyecto_pd/resources/video/video_login.mp4" type="video/mp4">
    </video>
    <div class="login-box">
        <div class="login-header">
            <header>Bienvenido/a</header>
            <p>¡Nos alegra tenerte de nuevo en <span>Digital Recipes</span>!</p>
        </div>
        <form method="#" action="#">
            <div class="input-box">
                <input type="text" class="input-field" name="mail" id="mail" autocomplete="off" required>
                <label for="mail">Email</label>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="clave" id="clave" autocomplete="off" required>
                <label for="clave">Contraseña</label>
            </div>
            <div class="forgot">
                <section>
                    <input type="checkbox" id="check">
                    <label for="check">Recordar usuario</label>
                </section>
                <section>
                    <a href="#" class="forgot-link">¿Olvidaste la contraseña?</a>
                </section>
            </div>
            <div class="input-box">
                <input type="submit" class="input-submit" value="Iniciar Sesión">
            </div>
        </form>
        <div class="sign-up">
            <p>¿Todavía no tienes cuenta? <a href="#">Registrate</a></p>
        </div>
    </div>
</body>
</html>