<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84afdc28bf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>DigitalRecipes</title>
    <script>
        const recetas = [
            { id: 1, nombre: "Budín", img: "budin.jpg", subtitulo: "Postre clásico", reseñas: 5 },
            { id: 2, nombre: "Lasagna", img: "lasagna.jpg", subtitulo: "Plato italiano", reseñas: 8 },
            { id: 3, nombre: "Tarta", img: "tarta.jpg", subtitulo: "Rápido y delicioso", reseñas: 3 },
        ];

        document.addEventListener('DOMContentLoaded', () => {
            const recetasContainer = document.querySelector('.row');
            if (recetas.length > 0) {
                recetas.forEach(receta => {
                    const recetaHTML = `
                        <div class="col-sm-4 mb-sm-0 p-4">
                            <a href="receta_individual.html?id=${receta.id}">
                                <div class="card">
                                    <img src="img/recetas/${receta.img}" alt="Imagen de ${receta.nombre}">
                                    <div class="card-body">
                                        <h5 class="card-title">${receta.subtitulo}</h5>
                                        <h3 class="card-text">${receta.nombre}</h3>
                                        <div class="stars">
                                            ${'<span class="star on"></span>'.repeat(4)}
                                            <span class="star"></span>
                                        </div>
                                        <span>${receta.reseñas} reseñas</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    `;
                    recetasContainer.innerHTML += recetaHTML;
                });
            } else {
                recetasContainer.innerHTML = "No hay recetas registradas.";
            }
        });

        function redireccionar() {
            const enlaces = [
                "/html/recetas/recetaBudin.html",
                "/html/recetas/recetaLasagna.html",
                "/html/recetas/recetaTarta.html",
            ];
            const enlaceAleatorio = enlaces[Math.floor(Math.random() * enlaces.length)];
            window.location.href = enlaceAleatorio;
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="#">
                <h1>DR</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex form-style col-lg-12" role="search">
                    <input class="form-control me-2 search-style" type="search" placeholder="¿Y hoy, para que estás?"
                        aria-label="Search">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="reseñas.html">Reseñas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Random">Random</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">
                                <span class="material-icons">login</span>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <div class="banner-jumbotron jumbotron d-flex flex-column justify-content-center align-items-center text-white text-center">
        <h1 class="jumbotron-title display-3 fw-bold titulo-banner-prinicpal">Encuentra tu receta</h1>
        <div class="buttons-container d-flex flex-row p-3 gap-4">
            <div>
                <a class="button1 btn fw-bold" href="recetas.html?id='salado'">Salado</a>
            </div>
            <div>
                <a class="button2 btn fw-bold" href="recetas.html?id='dulce'">Dulce</a>
            </div>
        </div>
    </div>
    <div class="container p-4">
        <h1 class="text-center p-3">Nuestras recetas más recientes</h1>
        <div class="row"></div>
        <section id="Random">
            <div class="banner-jumbotron2 jumbotron d-flex flex-column justify-content-center 
            align-items-center text-white text-center">
                <h1 class="jumbotron-title2 display-3 fw-bold titulo">¿Te animas a un juego?</h1>
                <div class="buttons-container d-flex flex-row p-3 gap-4">
                    <a class="button1 btn fw-bold" href="#" onclick="redireccionar()">SORPRENDEME</a>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-5" style="color: #f15025;">
        <h2>No te pierdas de las nuevas recetas!!</h2>
        <h5>Todas las semanas renovamos nuestras recetas para brindarte siempre un menu completo y variado.</h5>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted footer">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <div class="d-flex mb-2">
                            <span class="material-icons">restaurant</span>
                            <h4>DigitalRecipes</h4>
                        </div>
                        <p>
                            Esta es una página destinada a hacerte más fácil la tarea de cocinar, brindándote recetas
                            nuevas y deliciosas todos los días!
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 text-nowrap">
                            Conoce nuestro sitio
                        </h6>
                        <p>
                            <a href="reseñas.html" class="text-reset text-decoration-none">Reseñas</a>
                        </p>
                        <p>
                            <a href="nosotros.html" class="text-reset text-decoration-none">Nosotros</a>
                        </p>
                        <p>
                            <a href="contacto.html" class="text-reset text-decoration-none">Contacto</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Nuestras redes
                        </h6>
                        <p>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i><span
                                    class="space">Digital.Recipes</span></a>
                        </p>
                        <p>
                            <a href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook"></i><span
                                    class="space">Digital.Recipes</span></a>
                        </p>
                        <p>
                            <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i><span
                                    class="space">11-6133-3232</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>

</html>
