<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - Contacto</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <video muted autoplay loop>
        <source src="../public/video/video_login.mp4" type="video/mp4">
    </video>
    <div class="login-box" style="height: 320px;">
        <div class="login-header">
            <header>Tu comentario se registro correctamente!</header>
            <p class="pt-5">Tu opinion nos importa mucho, gracias por tomarte el tiempo de escribirnos.</p>
        </div>
        <div class="input-box">
            <a href="home.html"><input type="submit" class="input-submit" value="Volver al inicio"></a>
        </div>
    </div>
</body>
</html>