<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DR - Registro</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <video muted autoplay loop>
        <source src="../public/video/video_login.mp4" type="video/mp4">
    </video>
    <div class="login-box" style="height: 570px;">
        <div class="login-header">
            <header>Esta es la pantalla de registro</header>
            <p>¡Nos alegra que te sumes a la familia de <span>Digital Recipes</span>!</p>
        </div>
        <div class="input-box">
            <select id="role" class="input-field" required>
                <option value="admin">Admin</option>
                <option value="user">Foodie</option>
            </select>
            <label for="role">Selecciona un rol</label>
        </div>
        <form id="register">
            <div class="input-box">
                <input type="text" class="input-field" name="username" id="username" 
                autocomplete="off" required>
                <label for="username">Nombre de Usuario</label>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" id="password" 
                autocomplete="off" required>
                <label for="password">Contraseña</label>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="confirmPassword" id="confirmPassword" 
                autocomplete="off" required>
                <label for="confirmPassword">Confirmar Contraseña</label>
            </div>
            <div class="input-box">
                <input type="submit" class="input-submit" value="Registrar">
            </div>
        </form>
        <div class="sign-up">
            <p>¿Ya tienes cuenta? <a href="/login.html">Inicia Sesión</a></p>
        </div>
        <div id="message" class="hidden"></div>
    </div>
</body>
<script src="../assets/js/register.js"></script>
</html>